.carousel.slide .carousel-inner .carousel-item img{
    height: 80vh;
}
.food{
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(14, 13, 13, 0.4);;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
.food h5{
    text-align: center;
    font-size: 25px;
}
.food img{
    width: 100%;
    border-radius: 10px;
}
.food .row .col-sm-8 p{
    text-align: justify;
}
.dash{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
}
.download-app h3{
    font-weight: 800;
}
.download-app{
    background-color: rgba(212, 212, 231,.3);
    text-align: center;
    padding-bottom: 10px;
}

@media only screen and (max-width: 767px){
    .food{
        margin-bottom: 10px;
    }
}
